* {
  background-color: #9b9b9b;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


h2 {
  color: white;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 2px 5px 3px rgba(0, 0, 0, 0.5);
  margin-top: 40px;
}

.leftArr,
.rightArr {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
}

.leftArr {
  left: 90px;
}

.rightArr {
  right: 90px;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 120vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.zdj {
  max-width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  /* Adjustments for smaller screens */
  .wrapper {
    flex-direction: column;
  }
}

.leftArr:hover, .rightArr:hover {
  background-color: rgba(0, 161, 0, 0.733);
}